# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Python packages
*.whl
gbgp.egg-info

# IDE
.idea
.ipynb_checkpoints
*/.ipynb_checkpoints/*
cmake-build-debug
cmake-build-release
cmake-build-python
cmake-build-pythondebug
cmake-build-unittestsdebug
.vs
out
